<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>爬虫</title>
</head>
<body>
    <form action="/polls/index" method="get">
        选择网站:
        <select name="choice">
            <option value="华南理工大学软件学院">华南理工大学软件学院</option>
            <option value="暨南大学信息学院">暨南大学信息学院</option>
        </select>
        <input type="submit" value="确定" name="enter"/>
    </form>
    <hr/>
    <table>
        <tr><th>报告题目</th>   <th>报告人</th>    <th>报告时间</th>   <th>报告地点</th>   <th>学校</th>     <th>链接</th></tr>
    </table>
</body>
</html>